---
const imageUrl = "/avatar.jpeg"; // Reemplaza con la ruta a tu imagen
---

<div
  class="flex justify-center items-center lg:w-96 lg:h-96 h-64 w-64 overflow-hidden rounded-full
    shadow-[0_0_80px_theme('colors.purple.700')] animate-ease-in animate-fade"
>
  <img
    src={imageUrl}
    alt="Perfil"
    class="w-full h-full object-cover transform transition-transform duration-500"
  />
</div>
