---
const imageUrl = "/avatar.jpeg"; // Reemplaza con la ruta a tu imagen
---

<div
  class="flex justify-center items-center lg:w-96 lg:h-96 h-64 w-64 overflow-hidden"
>
  <img
    src={imageUrl}
    alt="Perfil"
    class="w-full h-full rounded-full object-cover transform transition-transform duration-500"
  />
</div>
