---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Proyectos.">
  <div
    class="flex min-h-svh flex-col items-center justify-center py-12 sm:px-6 lg:px-8"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h1 class="text-center text-3xl font-extrabold text-gray-900">
        Proyectos
      </h1>
      <p class="mt-2 text-center text-xl text-gray-500">
        Aquí encontrarás los proyectos que he creado o que he trabajado en.
      </p>
    </div>
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
