---
import Layout from "../../layouts/Layout.astro";
import CardProject from "../../components/CardProject.astro";
---

<Layout title="Proyectos.">
  <div
    class="grid justify-center items-center lg:grid-cols-2 xl:grid-cols-3 grid-cols-1 h-screen w-screen gap-10 p-20 mb-32"
  >
    <CardProject />

    <CardProject />
    <CardProject />
    <CardProject />
    <CardProject />
    <CardProject />
    <CardProject />
    <CardProject />
    <CardProject />
  </div>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
