---
import Layout from "../../layouts/Layout.astro";
import CardProject from "../../components/CardProject.astro";
---

<Layout title="Proyectos.">
  <div
    class="flex justify-center items-center md:grid-cols-2 grid-cols-1 center gap-2 min-h-svh py-12 sm:px-6 lg:px-8"
  >
    <CardProject />
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
