---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="none" />
  </head>
  <body>
    <nav
      class="text-white p-7 z-50 flex absolute items-center justify-center w-full"
    >
      <div class="container mx-auto flex justify-center items-center">
        <div class="flex items-center justify-center space-x-4">
          <a href="/" class="hover:text-gray-400 transition duration-300"
            >Inicio</a
          >
          <a
            href="/projects/"
            class="hover:text-gray-400 transition duration-300">Proyectos</a
          >
          <a href="#" class="hover:text-gray-400 transition duration-300"
            >Contacto</a
          >
        </div>
      </div>
    </nav>
    <div class="star star1"></div>
    <div class="star star2"></div>
    <div class="star star3"></div>
    <div class="star star4"></div>
    <div class="star star5"></div>
    <div class="star star6"></div>
    <div class="star star7"></div>
    <div class="star star8"></div>
    <script>
      const menuButton = document.getElementById("menu-button");
      const mobileMenu = document.getElementById("mobile-menu");

      menuButton!.addEventListener("click", () => {
        if (mobileMenu!.classList.contains("hidden")) {
          mobileMenu!.classList.remove("hidden");
          setTimeout(() => {
            mobileMenu!.classList.remove("transform", "scale-y-0");
          }, 10);
        } else {
          mobileMenu!.classList.add("transform", "scale-y-0");
          mobileMenu!.addEventListener(
            "transitionend",
            () => {
              mobileMenu!.classList.add("hidden");
            },
            { once: true },
          );
        }
      });
    </script>
    <slot />
    <script>
      document.addEventListener("mousemove", function (e) {
        const feedback = document.querySelector(
          ".feedback",
        ) as HTMLElement | null;
        const mouseX = e.clientX;
        const mouseY = e.clientY;
        if (feedback) {
          feedback.style.left = mouseX + "px";
          feedback.style.top = mouseY + "px";
        }
      });
    </script>
    <div transition:name="light" transition:persist class="feedback z-0"></div>
    <style is:global>
      .star {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        animation:
          animate 8s ease-in-out infinite,
          backgroundmove 16s linear infinite;
      }

      .star1 {
        animation-delay: 0s;
        background: url("/stars/star1.png");
      }

      .star2 {
        animation-delay: -1s;
        background: url("/stars/star2.png");
      }

      .star3 {
        animation-delay: -2s;
        background: url("/stars/star3.png");
      }

      .star4 {
        animation-delay: -3s;
        background: url("/stars/star4.png");
      }

      .star5 {
        animation-delay: -4s;
        background: url("/stars/star5.png");
      }

      .star6 {
        animation-delay: -5s;
        background: url("/stars/star6.png");
      }

      .star7 {
        animation-delay: -6s;
        background: url("/stars/star7.png");
      }

      .star8 {
        animation-delay: -7s;
        background: url("/stars/star8.png");
      }

      @keyframes animate {
        0%,
        20%,
        40%,
        60%,
        80%,
        100% {
          opacity: 0;
        }
        10%,
        30%,
        50%,
        70%,
        90% {
          opacity: 1;
        }
      }

      @keyframes backgroundmove {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(2);
        }
      }
      html {
        font-family: "Montserrat", system-ui, sans-serif;
        background: #000000;
        color: White;
      }
      body {
        margin: 0;
        height: 100dvh;
        contain: strict;
      }

      .feedback {
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition:
          transform 0.1s ease,
          box-shadow 0.5s ease;
        box-shadow: 0 0 400px 150px rgba(250, 250, 250, 0.1);
        z-index: -1;
      }

      @font-face {
        font-family: "Montserrat";
        src:
          url("/fonts/montserrat-thin-webfont.woff2") format("woff2"),
          url("/fonts/montserrat-thin-webfont.woff") format("woff");
        font-weight: 100;
        font-style: normal;
      }

      @font-face {
        font-family: "Montserrat";
        src:
          url("/fonts/montserrat-extralight-webfont.woff2") format("woff2"),
          url("/fonts/montserrat-extralight-webfont.woff") format("woff");
        font-weight: 200;
        font-style: normal;
      }

      @font-face {
        font-family: "Montserrat";
        src:
          url("/fonts/montserrat-light-webfont.woff2") format("woff2"),
          url("/fonts/montserrat-light-webfont.woff") format("woff");
        font-weight: 300;
        font-style: normal;
      }

      @font-face {
        font-family: "Montserrat";
        src:
          url("/fonts/montserrat-regular-webfont.woff2") format("woff2"),
          url("/fonts/montserrat-regular-webfont.woff") format("woff");
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: "Montserrat";
        src:
          url("/fonts/montserrat-medium-webfont.woff2") format("woff2"),
          url("/fonts/montserrat-medium-webfont.woff") format("woff");
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: "Montserrat";
        src:
          url("/fonts/montserrat-semibold-webfont.woff2") format("woff2"),
          url("/fonts/montserrat-semibold-webfont.woff") format("woff");
        font-weight: 600;
        font-style: normal;
      }

      @font-face {
        font-family: "Montserrat";
        src:
          url("/fonts/montserrat-bold-webfont.woff2") format("woff2"),
          url("/fonts/montserrat-bold-webfont.woff") format("woff");
        font-weight: 700;
        font-style: normal;
      }

      @font-face {
        font-family: "Montserrat";
        src:
          url("/fonts/montserrat-extrabold-webfont.woff2") format("woff2"),
          url("/fonts/montserrat-extrabold-webfont.woff") format("woff");
        font-weight: 800;
        font-style: normal;
      }

      @font-face {
        font-family: "Montserrat";
        src:
          url("/fonts/montserrat-black-webfont.woff2") format("woff2"),
          url("/fonts/montserrat-black-webfont.woff") format("woff");
        font-weight: 900;
        font-style: normal;
      }
    </style>
  </body>
</html>
